nav {
  height: 75px;
}

aside {
  height: 150px;
}

.large-article {
  height: 125px;
}

.small-article {
  float: left;
  height: 250px;
  width: 240px;
}

main section div:nth-child(3) {
  clear: both;
  height: 80px;
}

@media only screen and (min-width: 768px) {
  nav {
    height: 100px;
  }
  
  main {
    display: flex;
    justify-content: space-between;
  }

  aside {
    height: 600px;
    width: 200px;
  }
  
  .large-article {
    height: 200px;
    width: 380px;
    float: left;
    
  }
  
  .small-article {
    float: left;
    height: 250px;
    width: 190px;
  }
  
  main section div:nth-child(3) {
    clear: both;
    height: 150px;
    width: 760;
  }
}