#A {
  background-color: #576b2e;
}

#B {
  background-color: #556732;
}

#C {
  background-color: #546336;
}

#D {
  background-color: #536039;
}

#E {
  background-color: #525c3d;
}

#F {
  background-color: #505841;
}

#G {
  background-color: #4f5445;
}

#H {
  background-color: #4e5049;
}

#I {
  background-color: #4d4d4d;
}



